@import '../../generalStyles/_var.scss';
@import '../../generalStyles/_mixins.scss';

.money {
  @include flex-center;
  height: $global-height;

  &__bill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__purse {
    position: relative;
    background-image: url('../../images/desctopePrice.png');
    background-repeat: no-repeat;
    width: 240px;
    height: 40px;
    margin-bottom: 8px;


    &::before {
      @include purse-after-before;
      left: -28%;
    }
  
    &::after {
      @include purse-after-before;
      right: -28%;
    }
  }
}