@import '../../generalStyles/_var.scss';
@import '../../generalStyles/_mixins.scss';

.money {
  @include flex-center;
  height: $global-height;
  background-color: $global-white-color;
  text-align: center;
  width: $width-block-money;

  &__bill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__purse {
    position: relative;
    background-image: url('../../images/desctopePrice.png');
    background-repeat: no-repeat;
    width: 240px;
    height: 40px;
    margin-bottom: 8px;

    &::before {
      @include purse-after-before;
      right: 240px;
    }
  
    &::after {
      @include purse-after-before;
      left: 240px;
    }
  }

  &__rate {
    background-image: url('../../images/rateDesctop.png');
    color: #ff8b37;

    &::after,
    &::before {
      background-color: #ff8b37
    }
  }

  &__gain {
    color: #d0d0d8;
  }
}

@media (max-width: 1080px) {
  .money {
    width: 100%;

    &__purse {

      &::after,
      &::before {
        width: calc((100vw - 240px) / 2);
      }
    }
  }
}

@media (max-width: 440px) {
  .money {
    justify-content: flex-end;

    &__purse {
      background-image: url('../../images/priceMobile.png');
      background-repeat: no-repeat;
      height: 32px;

      &:last-child {
        margin-bottom: 32px;
      }

      &::after,
      &::before {
        top: 16px;
      }
    }

    &__rate {
      background-image: url('../../images/priceMobileActive.png');
      color: #ff8b37;

      &::after,
      &::before {
        background-color: #ff8b37;
      }
    }
  }
}
