@import '../../generalStyles/_var.scss';
@import '../../generalStyles/_mixins.scss';

.money {
  @include flex-center;
  height: $global-height;

  &__bill {
    margin-top: 8px;
    color: $color-elements;
    font-size: $button-font-size;
    border: 1px solid $global-background-color;
    background-color: $global-white-color;
    height: 40px;
    width: 240px;
    padding: 8px 24px;
    border-radius: 12px;
    clip-path: polygon(11% 0, 89% 0, 100% 50%, 89% 100%, 11% 100%, 0% 50%);
  }

  &__purse {
    position: relative;
    z-index: 1;

    &::before {
      @include purse-after-before;
      left: -28%;
    }
  
    &::after {
      @include purse-after-before;
      right: -28%;
    }
  }

  &__pointer-left {
    width: 34px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #d0d0d8;
    position: absolute;
    left: 7px;
    top: 10px;
    z-index: 1;
    transform: rotate(45deg);
    border-right: none;
    border-top: none;
    border-radius: 13px 0 13px 0;
  }

  &__pointer-right {
    width: 34px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #d0d0d8;
    position: absolute;
    right: 7px;
    top: 10px;
    z-index: 1;
    transform: rotate(45deg);
    border-left: none;
    border-bottom: none;
    border-radius: 13px 0 13px 0;
  }
}

// @media (max-width: 1280px) {
//   .money {
//     flex-direction: column;
//   }
// }