html,
body,
ul,
li,
input,
button,
p,
img,
h1,
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

button,
input {
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
