// global variables
$color-elements: #1C1C21;
$color-button: rgba(255, 139, 55, 1);
$button-width: calc(100% / 2);
$global-font: "Inter", sans-serif;
$global-font-weight: 600;
$global-height: 100vh;
$global-font-size: 32px;
$button-font-size: 20px;
$global-white-color: #ffffff;
$global-background-color: #d0d0d8;

// variables for Start
$margin-button: 64px;
$width-start-game: 624px;

// variables for Game
$width-block-question: 624px;
$width-block-money: 376px;

// variables for GameOver
$width-end-game: 624px;

// variables fro Variant
$width-block-variant-text: 285px;

