@import '../../generalStyles/_var.scss';
@import '../../generalStyles/_mixins.scss';

.losing {

  &__content {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__game {
    width: $width-end-game;
    margin-left: 50px;
  }

  &__total {
    font-weight: $global-font-weight;
    font-size: $global-font-size;
    color: $color-elements;
    opacity: 0.5;
  }

  &__text {
    color: $color-elements;
    font-size: 56px;
  }

  &__button {
    @include hoverButton;
    padding: 20px 0;
    width: $button-width;
    color: $global-white-color;
    background-color: $color-button;
    border-radius: 12px;
    text-align: center;
    margin-top: $margin-button;
    font-family: $global-font;
    font-weight: $global-font-weight;
    font-size: $button-font-size;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
}

@media (max-width: 1280px) {
  .losing {
    &__content {
      left: 50%;
    }

    &__game {
      width: 470px;
    }
  }
}

@media (max-width: 1080px) {
  .losing {
    &__content {
      flex-direction: column;
      justify-content: space-around;
      height: 100vh;
    }

    &__game {
      margin: 0 0 15% 80%;
    }

    &__text {
      font-size: 46px;
    }
  }
}

@media (max-width: 940px) {
  .losing {
    &__game {
      text-align: center;      
      margin: 0 auto;
      margin-bottom: 42px;
    }
   
  }
}

@media (max-width: 540px) {
  .losing {
    &__text {
      font-size: 36px;
    }

    &__total {
      font-size: 22px;
    }

    &__button {
      padding: 16px 0;
      font-size: 14px;
    }

    &__game {
      width: 370px;
    }
  }
}

@media (max-width: 440px) {
  .losing {
    &__total {
      font-size: 18px;
    }

    &__game {
      width: 100%;
    }
  }
}

