@import '../../generalStyles/_var.scss';
@import '../../generalStyles/_mixins.scss';
@import '../Features/Hamburger/Hamburger.scss';

.game {
  @include flex-spaceBetween;
  height: $global-height;
  padding: 133px 0 122px 80px;
  height: calc(100vh - 255px);

  &__question {
    width: $width-block-question;
    color: $color-elements;
    font-weight: $global-font-weight;
    font-size: $global-font-size;
  }

  &__answers {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
  }

  &__variant {
    margin-right: 8px;
    color: #ff8b37;
    font-weight: $global-font-weight;
  }

  &__money {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 1280px) {
  .game {
    padding-bottom: 80px;
    height: calc(100vh - 213px);

    &__answers {
      flex-direction: column;
      width: 500px;
      align-items: center;
    }

    &__question {
      display: block;
      text-align: center;
      width: 500px;
    }
  }
}

@media (max-width: 1080px) {
  .game {
    align-items: center;
    padding-left: 0;

    &__question {
      text-align: center;
      width: calc(100% - 80px);
    }

    &__answers {
      width: 100%;
    }

    &__money {
      display: none;
      width: 100%;
    }
  }

  .hamburger__toggle:checked ~ {
    .game__money {
      display: block;

      & .money {
        background-color: #e5e5e5;
      }
    }

    .game {
      &__question,
      &__answers {
        display: none;
      }
    }
  }
}

@media (max-width: 640px) {
  .game {
    &__question {
      font-size: 24px;
    }
  }
}

@media (max-width: 440px) {
  .game {
    padding-bottom: 24px;
    height: calc(100vh - 157px);

    &__question {
      font-size: 18px;
      width: 288px;
    }
  }
}
