@import '../../generalStyles/_var.scss';
@import '../../generalStyles/_mixins.scss';

.game {
  @include flex-spaceBetween;
  height: $global-height;
  padding-top: 133px;
  padding-left: 80px;
  height: calc(100vh - 133px);

  &__question {
    width: $width-block-question;
    color: $color-elements;
    font-weight: $global-font-weight;
    font-size: $global-font-size;
  }

  &__answers {
    display: flex;
    margin-bottom: 122px;
  }

  &__variant {
    margin-right: 8px;
    color: #ff8b37;
    font-weight: $global-font-weight;
  }

  &__money {
    width: $width-block-money;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $global-white-color;
    text-align: center;
  }
}

@media (max-width: 1280px) {
  .game {
    &__answers {
      flex-direction: column;
    }

    &__answers-bottom {
      margin-top: -16px;
    }
  }
}

@media (max-width: 1180px) {
  .game {
    &__question {
      width: 424px;
    }
  }
}

@media (max-width: 940px) {
  .game {
    align-items: center;
    padding-top: 133px;
    padding-left: 0;

    &__money {
      display: none;
    }

    &__question {
      text-align: center;
      width: calc(100% - 80px);
    }
  }
}

@media (max-width: 440px) {
  .game {
    &__question {
      font-size: 18px;
      width: 288px;
    }

    &__answers-bottom {
      margin-top: -8px;
    }
    
    &__answers {
      margin-bottom: 24px;
    }
  }
}