@import '../../generalStyles/_var.scss';

@media(max-width: 1080px) {
  .thumbsUp {
    &__img {
      width: 480px;
      height: 400px;
    }
  }
}

@media (max-width: 480px) {
  .thumbsUp {
    &__img {
      width: 290px;
      height: 220px;
    }
  }
}
