.start {

  &__clip {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(255, 243, 235, 1);
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  }
  
  &__content {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
    // absolute чтобы решить проблему с z-index
  }

  &__game {
    width: 624px;
    margin-left: 50px;
  }

  &__text {
    color: #1C1C21;
    font-size: 56px;
  }

  &__button {
    padding: 20px 0;
    width: calc(100% / 2.1);
    color: #ffffff;
    background-color: rgba(255, 139, 55, 1);
    border-radius: 12px;
    text-align: center;
    margin-top: 64px;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;

    &:hover {
      background-color: rgb(240, 104, 8);
    }
  }

  // Верстать дальше что каксается расстановки блоков спросить
  // Так как я не понимаю по макету как они должны быть 
}
