@import '../../generalStyles/_var.scss';
@import '../../generalStyles/_mixins.scss';

.start {
  &__clip {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: rgba(255, 243, 235, 1);
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  }
  
  &__content {
    display: flex;
    align-items: center;
    padding-right: 160px;
    height: 100vh;
  }

  &__game {
    margin-left: 50px;
  }

  &__heading {
    width: $width-heading;
  }

  &__text {
    color: $color-elements;
    font-size: 56px;
  }

  &__button {
    @include hoverButton;
    padding: 20px 0;
    width: $button-width;
    color: $global-white-color;
    background-color: $color-button;
    border-radius: 12px;
    text-align: center;
    margin-top: $margin-button;
    font-family: $global-font;
    font-weight: $global-font-weight;
    font-size: $button-font-size;
    letter-spacing: 0.5px;
    cursor: pointer;

    &:active {
      background-color: #e87928;
    }
  }
}

@media (max-width: 1280px) {
  .start {
    &__text {
      font-size: 46px;
    }

    &__heading {
      width: 400px;
    }
  }
}

@media (max-width: 1080px) {
  .start {

    &__content {
      position: relative;
      padding-right: 0;
    }

    &__game {
      position: absolute;
      bottom: 5%;
      right: 5%;
      margin-left: 0;
    }

    .thumbsUp {
      position: absolute;
      top: 0;
    }
  }
}

@media (max-width: 940px) {
  .start {
    &__game {
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .start {
    &__content {
      flex-direction: column;
      justify-content: space-between;
      padding: 78px 16px 48px;
      height: calc(100vh - 126px);
    }

    &__text {
      font-size: 32px;
    }

    &__button {
      padding: 16px 0;
      font-size: 14px;
      margin-top: 102px;
    }

    &__game {
      position: static;
    }

    &__heading {
      width: 100%;
    }

    .thumbsUp {
      position: static;
    }
  }
}

@media (max-width: 320px) {
  .start {
    &__button {
      width: 100%;
    }
  }
}
