@import '../../generalStyles/_var.scss';
@import '../../generalStyles/_mixins.scss';

.answer {
  margin: 16px;
  position: relative;
  cursor: pointer;
  background-image: url('../../images/variantDesctop.png');
  background-repeat: no-repeat;
  width: 373px;
  height: 72px;
  position: relative;

  &::before {
    @include answer-after-before;
    left: -16px;

  }

  &::after {
    @include answer-after-before;
    right: -16px;
  }

  &:hover {
    background-image: url('../../images/hoverDesctop.png');

    &::after,
    &::before {
      background-color: #ff8b37;
    }
  }

  &:active {
    background-image: url('../../images/selectedDesctop.png');
  }
  
  &__correct {
    background-image: url('../../images/correctDesctop.png') !important;
  }

  &__wrong {
    background-image: url('../../images/wrongDesctop.png') !important;
  }

  &__text {
    color: $color-elements;
    font-size: $button-font-size;
    z-index: 5;
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__variant {
    margin-right: 8px;
    color: #ff8b37;
    font-weight: $global-font-weight;
  }
}

@media (max-width: 1280px) {
  .answer {
    margin: 8px;
  }
}

@media (max-width: 640px) {
  .answer {
    margin: 8px;
    background-image: url('../../images/mobileVariant.png');
    width: 288px;
    height: 56px;

    &:hover {
      background-image: url('../../images/mobileVariant.png');
  
      &::after,
      &::before {
        background-color: #d0d0d8;
      }
    }
  
    &:active {
      background-image: url('../../images/selectedMobile.png');
    }
    
    &__correct {
      background-image: url('../../images/correctMobile.png') !important;
    }
  
    &__wrong {
      background-image: url('../../images/wrongMobile.png') !important;
    }

    &__text {
      font-size: 14px;
      left: 24px;
      top: 25px;
      transform: translateY(-25%);
    }

    &__variant {
      font-weight: 14px;
    }
  }
}