@import '../../generalStyles/_var.scss';
@import '../../generalStyles/_mixins.scss';

.answer {
  margin: 16px;
  position: relative;
 
  &__field {
    background-image: url('../../images/desctopeVariant.png');
    background-repeat: no-repeat;
    width: 389px;
    height: 72px;
    position: relative;

    &::before {
      @include answer-after-before;
      left: -18px;
    }
  
    &::after {
      @include answer-after-before;
      right: -18px;
    }
  }

  &__text {
    color: $color-elements;
    font-size: $button-font-size;
    z-index: 5;
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__variant {
    margin-right: 8px;
    color: #ff8b37;
    font-weight: $global-font-weight;
  }
}

@media (max-width: 440px) {
  .answer {
    margin: 8px;

    &__field {
      background-image: url('../../images/mobileVariant.png');
      width: 288px;
      height: 56px;
    }

    &__text {
      font-size: 14px;
      left: 24px;
      top: 25px;
      transform: translateY(-25%);
    }

    &__variant {
      font-weight: 14px;
    }
  }
}